.art-video-player {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    outline: 0;
    zoom: 1;
    padding: 0;
    text-align: left;
    direction: ltr;
    font-size: 14px;
    line-height: 1.3;
    user-select: none;
    box-sizing: border-box;
    color: var(--art-font-color);
    background-color: var(--art-background-color);
    text-shadow: 0 0 2px var(--art-text-shadow-color);
    font-family: PingFang SC, Helvetica Neue, Microsoft YaHei, Roboto, Arial, sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -ms-high-contrast-adjust: none;

    *,
    *::before,
    *::after {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    ::-webkit-scrollbar {
        width: var(--art-scrollbar-size);
        height: var(--art-scrollbar-size);
    }

    ::-webkit-scrollbar-thumb {
        background-color: var(--art-scrollbar-background);
    }

    ::-webkit-scrollbar-thumb:hover {
        background-color: var(--art-scrollbar-background-hover);
    }

    img {
        max-width: 100%;
        vertical-align: top;
    }

    svg {
        fill: var(--art-font-color);
    }

    a {
        color: var(--art-font-color);
        text-decoration: none;
    }
}
