.art-video-player {
    .art-contextmenus {
        display: none;
        flex-direction: column;
        position: absolute;
        z-index: 120;
        min-width: 300px;
        padding: 5px 0;
        border-radius: 3px;
        background-color: rgba(0, 0, 0, 0.75);

        .art-contextmenu {
            cursor: pointer;
            font-size: 13px;
            display: flex;
            color: #fff;
            .art-truncate();
            padding: 10px 15px;
            text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);

            a {
                color: #fff;
                text-decoration: none;
            }

            span {
                padding: 0 7px;

                &:hover,
                &.art-current {
                    color: var(--art-theme);
                }
            }

            &:hover {
                background-color: rgba(255, 255, 255, 0.1);
            }

            &:last-child {
                border-bottom: none;
            }
        }
    }

    &.art-contextmenu-show {
        .art-contextmenus {
            display: flex;
        }
    }
}
