.art-controls {
    position: relative;
    z-index: 10;
    pointer-events: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--art-control-height);

    .art-controls-left,
    .art-controls-right {
        display: flex;
        height: 100%;
    }

    .art-controls-center {
        display: none;
        flex: 1;
        padding: 0 10px;
        .art-center();
    }

    .art-controls-right {
        justify-content: flex-end;
    }

    .art-control {
        .art-center();
        opacity: 0.75;
        transform: scale(1);
        min-height: var(--art-control-height);
        min-width: var(--art-control-height);
        cursor: pointer;
        white-space: nowrap;
        transition: opacity 0.2s ease;

        .art-icon {
            height: var(--art-control-icon-size);
            width: var(--art-control-icon-size);
            transform: scale(var(--art-control-icon-scale));
            transition: transform 0.2s ease;

            &:active {
                transform: scale(calc(var(--art-control-icon-scale) * 0.8));
            }
        }

        &:hover {
            opacity: 1;
        }
    }
}
