.art-video-player {
    &.art-fullscreen-web {
        position: fixed;
        z-index: 9999;
        width: 100% !important;
        height: 100% !important;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
    }
}
