@import './artplayer.scss';
@import './video.scss';
@import './poster.scss';
@import './subtitle.scss';
@import './danmuku.scss';
@import './layers.scss';
@import './mask.scss';
@import './loading.scss';
@import './bottom.scss';
@import './notice.scss';
@import './contextmenu.scss';
@import './setting.scss';
@import './info.scss';
@import './hideCursor.scss';
@import './aspectRatio.scss';
@import './fullscreenWeb.scss';
@import './fullscreenRotate.scss';
@import './mini.scss';
@import './autoSize.scss';
@import './flip.scss';
@import './plugins.scss';
@import './selector.scss';
@import './balloon.scss';
