.art-video-player {
    .art-info {
        display: none;
        position: absolute;
        left: 10px;
        top: 10px;
        z-index: 100;
        padding: 10px;
        color: #fff;
        font-size: 12px;
        border-radius: 3px;
        background-color: rgba(0, 0, 0, 0.75);

        .art-info-panel {
            display: flex;
            flex-direction: column;
            gap: 5px;

            .art-info-item {
                display: flex;
                align-items: center;
                gap: 5px;

                .art-info-title {
                    width: 100px;
                    text-align: right;
                }

                .art-info-content {
                    width: 250px;
                    .art-truncate();
                    user-select: all;
                }
            }
        }

        .art-info-close {
            position: absolute;
            top: 5px;
            right: 5px;
            cursor: pointer;
        }
    }

    &.art-info-show {
        .art-info {
            display: flex;
        }
    }
}
