.art-video-player {
    .art-loading {
        display: none;
        position: absolute;
        z-index: 70;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        pointer-events: none;
    }

    &.art-loading-show {
        .art-loading {
            display: flex;
        }
    }
}
