.art-video-player {
    .art-mask {
        .art-center();
        .art-full(50);
        pointer-events: none;

        .art-state {
            .art-center();
            opacity: 0;
            transform: scale(2);
            width: var(--art-state-size);
            height: var(--art-state-size);
            transition: all var(--art-transition-duration) ease;
        }
    }

    &.art-mask-show {
        .art-state {
            cursor: pointer;
            pointer-events: auto;
            opacity: var(--art-state-opacity);
            transform: scale(1);
        }
    }

    &.art-loading-show {
        .art-state {
            display: none;
        }
    }
}
