.art-video-player {
    .art-mask {
        display: none;
        align-items: center;
        justify-content: center;
        position: absolute;
        z-index: 50;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        pointer-events: none;

        .art-state {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            right: 30px;
            bottom: 65px;
            width: 60px;
            height: 60px;
            opacity: 0.85;
            cursor: pointer;
            pointer-events: auto;
        }
    }

    &.art-mask-show {
        .art-mask {
            display: flex;
        }
    }

    &.art-mobile {
        .art-state {
            position: static;
        }
    }
}
