.art-video-player.art-mobile {
    --art-bottom-gap: 10px;
    --art-control-height: 38px;
    --art-control-icon-scale: 1;
    --art-state-size: 60px;
    --art-settings-max-height: 180px;
    --art-selector-max-height: 180px;
    --art-indicator-scale: 1;
    --art-control-opacity: 1;

    .art-controls-left {
        margin-left: calc(var(--art-padding) / -1);
    }

    .art-controls-right {
        margin-right: calc(var(--art-padding) / -1);
    }
}
