.artplayer-video-player {
    .artplayer-pip-header {
        display: none;
        position: absolute;
        z-index: 110;
        left: 0;
        top: 0;
        right: 0;
        height: 35px;
        line-height: 35px;
        color: #fff;
        background: rgba(0, 0, 0, 0.5);
        align-items: center;
        justify-content: space-between;
        opacity: 0;
        visibility: hidden;
        transition: all 0.2s ease-in-out;
        .artplayer-pip-title {
            flex: 1;
            padding: 0 10px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            cursor: move;
        }
        .artplayer-pip-close {
            width: 35px;
            text-align: center;
            font-size: 22px;
            cursor: pointer;
        }
    }

    &.is-dragging {
        opacity: 0.7;
    }

    &.artplayer-pip {
        position: fixed;
        z-index: 9999;
        width: 400px;
        height: 225px;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 3px 6px 0 rgba(0, 0, 0, 0.2);

        .artplayer-pip-header {
            display: flex;
            user-select: none;
        }

        &.artplayer-hover {
            .artplayer-pip-header {
                opacity: 1;
                visibility: visible;
            }
        }

        .artplayer-mask {
            .art-state {
                position: static;
            }
        }

        .artplayer-contextmenu,
        .artplayer-bottom,
        .artplayer-danmu,
        .artplayer-info,
        .artplayer-layers,
        .artplayer-notice,
        .artplayer-setting,
        .artplayer-subtitle {
            display: none !important;
        }
    }
}
