.art-video-player {
    .art-layer-lock {
        display: none;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 15px;
        top: calc(50% - 17px);
        height: 34px;
        width: 34px;
        color: #fff;
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.5);
    }

    &.art-lock {
        .art-bottom,
        .art-layer-fast-forward {
            display: none !important;
        }

        .art-subtitle {
            bottom: 10px !important;
        }
    }

    .art-layer-fast-forward {
        display: none;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: 15px;
        top: calc(50% - 17px);
        height: 34px;
        width: 34px;
        color: #fff;
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.5);
        user-select: none;
    }

    &.art-control-show {
        .art-layer-lock {
            display: flex;
        }

        .art-layer-fast-forward {
            display: flex;
        }
    }
}
