.art-video-player {
    .art-layer-miniProgressBar {
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 2px;
        background-color: var(--theme);
    }

    .art-layer-lock {
        display: none;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 15px;
        top: calc(50% - 17px);
        height: 34px;
        width: 34px;
        color: #fff;
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .art-layer-autoPlayback {
        display: none;
        align-items: center;
        position: absolute;
        left: 20px;
        bottom: 60px;
        border-radius: 3px;
        padding: 10px;
        line-height: 1;
        background-color: rgb(0 0 0 / 80%);

        .art-autoPlayback-close {
            display: flex;
            align-items: center;
            margin-right: 10px;
            cursor: pointer;

            svg {
                width: 15px;
                height: 15px;
                fill: var(--theme);
            }
        }

        .art-autoPlayback-last {
            margin-right: 10px;
        }

        .art-autoPlayback-jump {
            color: var(--theme);
            cursor: pointer;
        }
    }

    &.art-lock {
        .art-bottom {
            display: none !important;
        }

        .art-subtitle {
            bottom: 10px !important;
        }

        .art-layer-miniProgressBar {
            display: block !important;
        }
    }

    &.art-control-show {
        .art-layer-miniProgressBar {
            display: none;
        }

        .art-layer-lock {
            display: flex;
        }
    }
}
