.art-control-selector {
    position: relative;

    .art-selector-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        position: absolute;
        border-radius: var(--art-border-radius);
        overflow-y: auto;
        overflow-x: hidden;
        opacity: 0;
        transform: translateY(10px);
        pointer-events: none;
        bottom: var(--art-control-height);
        max-height: var(--art-selector-max-height);
        background-color: var(--art-widget-background);
        transition: all var(--art-transition-duration) ease;

        .art-selector-item {
            .art-center();
            width: 100%;
            padding: 10px 15px;
            flex-shrink: 0;
            line-height: 1;

            &:hover {
                background-color: rgba(255, 255, 255, 0.1);
            }

            &:hover,
            &.art-current {
                color: var(--art-theme);
            }
        }
    }

    &:hover {
        .art-selector-list {
            opacity: 1;
            transform: translateY(0);
            pointer-events: auto;
        }
    }
}
