.art-video-player {
    .art-settings {
        display: none;
        flex-direction: column;
        position: absolute;
        z-index: 90;
        right: 10px;
        bottom: 50px;
        width: 200px;
        max-height: 300px;
        overflow: auto;
        font-size: 13px;
        background-color: rgba(0, 0, 0, 0.9);
        transition: all 0.1s ease;

        .art-setting-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 35px;
            padding: 0 5px 0 0;
            line-height: 1;
            cursor: pointer;

            &:hover {
                background-color: rgba(255, 255, 255, 0.1);
            }

            .art-icon {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 30px;
                height: 30px;
            }

            .art-icon-arrowLeft {
                width: 35px;
                height: 30px;
            }

            .art-icon-check {
                visibility: hidden;
                width: 35px;
                height: 15px;
            }

            &.art-current .art-icon-check {
                visibility: visible;
            }

            .art-setting-item-left {
                display: flex;
                align-items: center;
                color: rgba(255, 255, 255, 0.8);
            }

            .art-setting-item-right {
                display: flex;
                align-items: center;
                color: rgba(255, 255, 255, 0.95);
            }
        }

        .art-setting-item-back {
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        }
    }

    &.art-setting-show {
        .art-settings {
            display: flex;
        }
    }
}
