.art-video-player {
    .art-settings {
        display: none;
        flex-direction: column;
        position: absolute;
        z-index: 90;
        left: auto;
        overflow-y: auto;
        overflow-x: hidden;
        max-height: var(--art-settings-max-height);
        right: var(--art-padding);
        bottom: var(--art-control-height);
        transition: all var(--art-transition-duration) var(--art-ease-standard);
        .art-panel-surface();

        .art-setting-panel {
            display: none;
            flex-direction: column;

            &.art-current {
                display: flex;
            }

            .art-setting-item {
                .art-menu-item-base(0, var(--art-space-xxs));
                justify-content: space-between;
                align-items: center;
                overflow: hidden;

                &.art-current {
                    color: var(--art-theme);
                }

                .art-icon-check {
                    visibility: hidden;
                    height: var(--art-icon-small-size);
                }

                &.art-current .art-icon-check {
                    visibility: visible;
                }

                .art-setting-item-left {
                    .art-center();
                    flex-shrink: 0;
                    gap: var(--art-space-xxs);

                    .art-setting-item-left-icon {
                        .art-center();
                        height: var(--art-settings-icon-size);
                        width: var(--art-settings-icon-size);
                    }
                }

                .art-setting-item-right {
                    .art-center();
                    gap: var(--art-space-xxs);
                    font-size: var(--art-font-size-sm);

                    .art-setting-item-right-tooltip {
                        white-space: nowrap;
                        color: var(--art-surface-muted-color);
                    }

                    .art-setting-item-right-icon {
                        .art-center();
                        min-width: 32px;
                        height: 24px;
                    }

                    .art-setting-range {
                        height: 3px;
                        width: 80px;
                        outline: none;
                        appearance: none;
                        background-color: var(--art-surface-range-color);
                    }
                }
            }

            .art-setting-item-back {
                border-bottom: 1px solid var(--art-surface-border-color);
            }
        }
    }

    &.art-setting-show {
        .art-settings {
            display: flex;
        }
    }
}
