.art-video-player {
    .art-subtitle {
        display: none;
        position: absolute;
        z-index: 20;
        bottom: 10px;
        width: 100%;
        padding: 0 20px;
        text-align: center;
        color: #fff;
        font-size: 20px;
        pointer-events: none;
        text-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.5);

        p {
            word-break: break-all;
            height: fit-content;
            margin: 5px 0;
        }
    }

    &.art-subtitle-show {
        .art-subtitle {
            display: block;
        }
    }

    &.art-control-show {
        .art-subtitle {
            bottom: 40px;
        }
    }
}
