.art-video-player {
    .art-subtitle {
        display: none;
        position: absolute;
        z-index: 20;
        bottom: 10px;
        width: 100%;
        padding: 0 20px;
        text-align: center;
        color: #fff;
        font-size: 20px;
        pointer-events: none;
        transition: bottom 0.2s ease;
        text-shadow: #000 1px 0 1px, #000 0 1px 1px, #000 -1px 0 1px, #000 0 -1px 1px, #000 1px 1px 1px,
            #000 -1px -1px 1px, #000 1px -1px 1px, #000 -1px 1px 1px;

        p {
            word-break: break-all;
            height: fit-content;
            margin: 5px 0 0;
            line-height: 1.2;
        }
    }

    &.art-subtitle-show {
        .art-subtitle {
            display: block;
        }
    }

    &.art-control-show {
        .art-subtitle {
            bottom: 50px;
        }
    }
}
