.art-video-player {
    .art-subtitle {
        display: none;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        position: absolute;
        z-index: 20;
        width: 100%;
        padding: 0 5%;
        gap: var(--art-subtitle-gap);
        bottom: var(--art-subtitle-bottom);
        font-size: var(--art-subtitle-font-size);
        pointer-events: none;
        transition: bottom 0.2s ease;
        .art-text-border();

        p {
            word-break: break-all;
            height: fit-content;
            line-height: 1.2;
        }
    }

    &.art-subtitle-show {
        .art-subtitle {
            display: flex;
        }
    }

    &.art-control-show {
        .art-subtitle {
            bottom: var(--art-control-height);
        }
    }
}
