.art-video-player {
    --art-state-size: 80px;
    --art-state-opacity: 0.85;
    --art-scrollbar: #666;
    --art-scrollbar-hover: #ccc;
    --art-subtitle-font-size: 20px;
    --art-subtitle-gap: 5px;
    --art-subtitle-bottom: 10px;
    --art-control-height: 50px;
}