.art-video-player {
    --art-theme: #f00;
    --art-duration: 0.2s;
    --art-state-size: 80px;
    --art-state-opacity: 0.8;
    --art-subtitle-font-size: 20px;
    --art-subtitle-gap: 5px;
    --art-subtitle-bottom: 15px;
    --art-control-height: 46px;
    --art-bottom-height: 100px;
    --art-bottom-offset: -20px;
    --art-bottom-gap: 5px;
    --art-progress-height: 6px;
    --art-highlight-width: 8px;
    --art-loop-width: 2px;
    --art-control-opacity: 0.75;
    --art-control-icon-size: 36px;
    --art-control-icon-scale: 1.1;
    --art-volume-handle-size: 14px;
    --art-background: rgba(0, 0, 0, 0.85);
    --art-settings-icon-size: 24px;
    --art-progress-color: rgba(255, 255, 255, 0.2);
    --art-hover-color: rgba(255, 255, 255, 0.5);
    --art-loaded-color: rgba(255, 255, 255, 0.2);
    --art-highlight-color: rgba(255, 255, 255, 0.5);
    --art-loop-color: rgba(255, 255, 255, 0.75);
    --art-scrollbar-size: 5px;
    --art-scrollbar-background: #666;
    --art-scrollbar-background-hover: #ccc;
    --art-contextmenus-min-width: 250px;
}
