.art-control-volume {
    position: relative;

    .art-volume-panel {
        .art-center(none);
        position: absolute;
        left: 0;
        right: 0;
        bottom: var(--art-control-height);
        width: var(--art-control-height);
        height: 120px;
        padding: 0 5px;
        font-size: 12px;
        text-align: center;
        cursor: default;

        .art-volume-inner {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            height: 100%;
            width: 100%;
            padding: 10px 0;
            border-radius: 3px;
            background-color: rgba(0, 0, 0, 0.85);

            .art-volume-slider {
                position: relative;
                display: flex;
                justify-content: center;
                width: 2px;
                flex: 1;
                border-radius: 3px;
                background-color: rgba(255, 255, 255, 0.25);

                .art-volume-handle {
                    width: 14px;
                    height: 14px;
                    margin-top: -7px;
                    flex-shrink: 0;
                    cursor: pointer;
                    transform: scale(1);
                    border-radius: 100%;
                    background-color: var(--art-theme);
                    transition: transform var(--art-duration) ease;

                    &:active {
                        transform: scale(0.85);
                    }
                }
            }
        }
    }

    &:hover {
        .art-volume-panel {
            display: flex;
        }
    }
}