{
    "parser": "@babel/eslint-parser",
    "extends": "eslint:recommended",
    "env": {
        "browser": true,
        "es6": true
    },
    "globals": {
        "require": "readonly",
        "process": "readonly"
    },
    "parserOptions": {
        "sourceType": "module",
        "ecmaVersion": "latest",
        "requireConfigFile": false,
        "babelOptions": {
            "presets": ["@babel/preset-react"]
        }
    }
}
