.app {
    text-align: center;
}

.title {
    font-size: 36px;
    color: #333;
    margin-top: 100px;
}

.description {
    font-size: 18px;
    color: #999;
    margin-top: 40px;
}

.github {
    text-align: center;
    margin-top: 40px;
}

.github a {
    font-size: 14px;
    color: #666;
    padding: 10px 30px;
    text-decoration: none;
    color: #fff;
    background: #000;
    border-radius: 50px;
}

.artplayer-app {
    width: 670px;
    height: 377px;
    margin: 40px auto 0;
    background: #000;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}