.artplayer-plugin-ads {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 150;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    color: #fff;
    background-color: #000;

    .artplayer-plugin-ads-video {
        width: 100%;
        height: 100%;
    }
}