.artplayer-video-player {
    .artplayer-contextmenu {
        position: absolute;
        z-index: 70;
        left: 0;
        top: 0;
        width: 200px;
        padding: 5px 0;
        background:rgba(0, 0, 0, 0.8);
        .art-menu {
            cursor: pointer;
            font-size: 13px;
            display: block;
            color: #fff;
            padding: 7px 10px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);

            a {
                color: #fff;
                text-decoration: none;
            }
    
            &:hover {
                background-color: rgba(255,255,255,.1);
            }
        }
    }
    
}
