@charset "UTF-8";

.artplayer-wrap {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: left;
    overflow: hidden;
    font-family: Roboto,Arial,Helvetica,sans-serif;
    -webkit-font-smoothing: antialiased;
    user-select: none;

    .art-icon {
        svg {
            fill: #fff;
        }
    }

    .artplayer-video {
        position: absolute;
        z-index: 1;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
    }

    .artplayer-subtitle {
        position: absolute;
        z-index: 2;
        bottom: 40px;
        width: 100%;
        padding: 0 20px;
        text-align: center;
        color: #fff;
        text-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.5);
        font-size: 20px;
        box-sizing: border-box;
    }

    .artplayer-layers {
        position: absolute;
        z-index: 3;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
    }

    .artplayer-mask {
        display: none;
        position: absolute;
        z-index: 4;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        .art-icon-play {
            opacity: .8;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50px;
            height: 50px;
            border-radius: 50px;
        }
    }

    .artplayer-contextmenu {
        position: absolute;
        z-index: 7;
        left: 0;
        top: 0;
        width: 200px;
        padding: 5px 0;
        background:rgba(0, 0, 0, 0.8);
        a {
            font-size: 13px;
            display: block;
            color: #fff;
            padding: 7px 10px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            text-decoration: none;
            text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);

            &:hover {
                background-color: rgba(255,255,255,.1);
            }
        }
    }

    .artplayer-controls {
        position: absolute;
        z-index: 4;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100px;
        opacity: 0;
        visibility: hidden;
        transition: all .2s ease-in-out;
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAADGCAYAAAAT+OqFAAAAdklEQVQoz42QQQ7AIAgEF/T/D+kbq/RWAlnQyyazA4aoAB4FsBSA/bFjuF1EOL7VbrIrBuusmrt4ZZORfb6ehbWdnRHEIiITaEUKa5EJqUakRSaEYBJSCY2dEstQY7AuxahwXFrvZmWl2rh4JZ07z9dLtesfNj5q0FU3A5ObbwAAAABJRU5ErkJggg==) repeat-x bottom;
    }

    &.controls-show, &:hover {
        .artplayer-controls {
            opacity: 1;
            visibility: visible;
        }
    }

    .artplayer-loading {
        display: none;
        position: absolute;
        z-index: 5;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
    }

    .artplayer-notice {
        display: none;
        font-size: 13px;
        position: absolute;
        z-index: 6;
        left: 10px;
        top: 10px;
        height: 30px;
        line-height: 30px;
        padding: 0 10px;
        color: #fff;
        background: rgba(0, 0, 0, 0.6);
    }
}