@charset "UTF-8";

.artplayer-wrap {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: left;
    user-select: none;

    .artplayer-video {
        position: absolute;
        z-index: 1;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
    }

    .artplayer-layers {
        position: absolute;
        z-index: 2;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
    }
}