.artplayer-video-player {
    .artplayer-setting {
        display: none;
        font-size: 14px;
        position: absolute;
        z-index: 90;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        align-items: center;
        justify-content: center;
        pointer-events: none;
        .artplayer-setting-inner {
            width: 350px;
            height: 250px;
            padding: 10px;
            color: #fff;
            background: rgba(0, 0, 0, 0.6);
            border-radius: 3px;
            pointer-events: all;
        }
    }
}
