.artplayer-plugin-danmuku {
    display: flex;
    align-items: center;
    font-size: 12px;
    height: 100%;
    padding: 8px 0;
    font-weight: 400;
    gap: 5px;

    .apd-icon {
        cursor: pointer;
        opacity: 0.75;
        transition: all 0.2s ease;

        &:hover {
            opacity: 1;
        }
    }

    .apd-config {
        width: 24px;
        height: 24px;
        position: relative;

        .apd-config-panel {
            position: absolute;
            bottom: 24px;
            left: -118px;
            display: none;
            width: 260px;
            padding: 7px;

            .apd-config-panel-inner {
                width: 100%;
                border-radius: 3px;
                background-color: rgba(0, 0, 0, 0.85);
                padding: 10px;
            }
        }

        &:hover {
            .apd-config-panel {
                display: flex;
            }
        }
    }

    .apd-config-mode,
    .apd-config-slider {
        margin-bottom: 15px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .apd-modes {
        display: flex;
        align-items: center;
        margin-top: 5px;
        gap: 16px;

        .apd-mode {
            cursor: pointer;
            text-align: center;
        }
    }

    .apd-config-slider {
        display: flex;
        align-items: center;
        gap: 5px;

        .apd-slider {
            flex: 1;
        }

        .apd-value {
            width: 32px;
            text-align: right;
        }
    }

    .apd-emitter {
        display: flex;
        align-items: center;
        height: 100%;
        margin-left: 6px;
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 5px;
    }

    .apd-style {
        position: relative;

        .apd-style-panel {
            position: absolute;
            bottom: 24px;
            left: -113px;
            display: none;
            width: 250px;
            padding: 7px;

            .apd-style-panel-inner {
                width: 100%;
                border-radius: 3px;
                background-color: rgba(0, 0, 0, 0.8);
                padding: 10px;
            }
        }

        &:hover {
            .apd-style-panel {
                display: flex;
            }
        }
    }

    .apd-input {
        outline: none;
        height: 100%;
        width: 170px;
        border: none;
        color: #fff;
        min-width: none;
        background-color: transparent;

        &::placeholder {
            color: rgba(255, 255, 255, 0.5);
        }
    }

    .apd-send {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        padding: 0 12px;
        flex-shrink: 0;
        cursor: pointer;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        background-color: #00a1d6;
    }
}

.art-video-player {
    &[data-danmuku-visible='false'] {
        .apd-toggle-off {
            display: block;
        }

        .apd-toggle-on {
            display: none;
        }
    }

    &[data-danmuku-visible='true'] {
        .apd-toggle-off {
            display: none;
        }

        .apd-toggle-on {
            display: block;
        }
    }

    &[data-danmuku-mode0='false'] {
        .apd-mode-0-off {
            display: block;
        }

        .apd-mode-0-on {
            display: none;
        }

        .art-danmuku [data-mode='0'] {
            opacity: 0 !important;
        }
    }

    &[data-danmuku-mode0='true'] {
        .apd-mode-0-off {
            display: none;
        }

        .apd-mode-0-on {
            display: block;
        }
    }

    &[data-danmuku-mode1='false'] {
        .apd-mode-1-off {
            display: block;
        }

        .apd-mode-1-on {
            display: none;
        }

        .art-danmuku [data-mode='1'] {
            opacity: 0 !important;
        }
    }

    &[data-danmuku-mode1='true'] {
        .apd-mode-1-off {
            display: none;
        }

        .apd-mode-1-on {
            display: block;
        }
    }

    &[data-danmuku-mode2='false'] {
        .apd-mode-2-off {
            display: block;
        }

        .apd-mode-2-on {
            display: none;
        }

        .art-danmuku [data-mode='2'] {
            opacity: 0 !important;
        }
    }

    &[data-danmuku-mode2='true'] {
        .apd-mode-2-off {
            display: none;
        }

        .apd-mode-2-on {
            display: block;
        }
    }
}

.art-fullscreen,
.art-fullscreen-web {
    .artplayer-plugin-danmuku {
        padding: 12px 0;
        .apd-input {
            width: 360px;
        }
    }
}
