html, body {
    height: 100%;
    overflow: hidden;
}

.container {
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.artplayer-app {
    width: 100%;
    height: 50%;
}

.tip {
    text-align: center;
}