body,
html {
    height: 100%;
}

body {
    font-family: Hiragino Sans GB, Microsoft YaHei, \5fae\8f6f\96c5\9ed1, tahoma, arial, simsun, \5b8b\4f53;
    -webkit-text-size-adjust: 100% !important;
    -moz-text-size-adjust: 100% !important;
    -ms-text-size-adjust: 100% !important;
    text-size-adjust: 100% !important;
    font-size: 14px;
    margin: 0;
    padding: 0;
    color: #ccc;
    background: rgb(16, 17, 19);
}

*,
:after,
:before {
    box-sizing: border-box;
}

a {
    color: #ccc;
    text-decoration: none;
}

a:hover {
    color: #fff;
}

img {
    max-width: 100%;
    vertical-align: top;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #666;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #ccc;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    height: 48px;
    width: 100%;
    padding: 0 0 0 20px;
    border-bottom: 1px solid rgb(17, 21, 24);
    background-color: rgb(28, 32, 34);
}

.header .logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo img {
    margin-right: 10px;
}

.header .menus {
    display: flex;
    align-items: center;
    flex: 1;
    height: 100%;
}

.header .menus .item {
    display: flex;
    align-items: center;
    margin-left: 20px;
    height: 100%;
    line-height: 1;
}

.header .menus .has-sub-menu {
    position: relative;
    cursor: pointer;
}

.header .menus .has-sub-menu:hover .sub-menu {
    display: block;
}

.header .menus .has-sub-menu .sub-menu {
    display: none;
    position: absolute;
    z-index: 9;
    top: 45px;
    left: 0;
    width: 200px;
    padding: 0 10px;
    background: #2b2b2b;
}

.header .menus .has-sub-menu .sub-menu ul {
    padding: 0;
    margin-bottom: 15px;
}

.header .menus .has-sub-menu .sub-menu li {
    display: block;
    list-style: none;
    margin-bottom: 15px;
}

.header .menus .has-sub-menu .sub-menu li.title {
    color: #fff;
    font-size: 16px;
    margin-bottom: 15px;
}

.header .run {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100%;
    line-height: 1;
    cursor: pointer;
    color: #f1fa8c;
    border-left: 1px solid rgb(17, 21, 24);
    background-color: rgb(39, 41, 54);
}

.header .run:hover {
    background-color: #2e3350;
}

.main {
    display: flex;
    flex: 1;
    height: 100%;
}

.main .part-left {
    display: flex;
    flex-direction: column;
    width: 50%;
    border-right: 1px solid rgb(17, 21, 24);
}

.main .part-left .libs {
    height: 55px;
}

.main .part-left .libsInput {
    height: 100%;
    width: 100%;
    padding: 10px;
    outline: none;
    resize: none;
    border: none;
    font-size: 13px;
    color: #ccc;
    border-bottom: 1px solid rgb(17, 21, 24);
    background-color: rgb(28, 32, 34);
}

.main .part-left .code {
    flex: 1;
    overflow: auto;
}

.main .part-left .code .codeMirrorWrap {
    height: 100%;
    overflow: hidden;
}

.main .part-right {
    flex: 1;
}

.part-right .video-wrap {
    display: flex;
    height: 70%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.part-right .video-wrap .artplayer-app {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    width: 90%;
    height: 65%;
    margin-bottom: 10px;
    background-color: rgb(0 0 0 / 20%);
    border: 1px dashed rgba(255, 255, 255, 0.1);
}

.part-right .video-wrap .artplayer-danmuku {
    width: 300px;
}

.part-right .console {
    position: relative;
    z-index: 8;
    height: 30%;
}

.popups {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.popups .popinner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 600px;
    background: #2b2b2b;
    border-radius: 3px;
    padding: 20px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
