html,
body,
.container {
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
}

.part-top {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70%;
}

.part-top .artplayer {
    width: 500px;
    height: 500px;
}

.part-bottom {
    position: relative;
    height: 30%;
}
