html,
body,
.container {
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
}

.part-top {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 70%;
}

.part-top .config {
    width: 500px;
    margin-bottom: 20px;
}

.part-top .config .urlInput {
    width: 100%;
    margin-bottom: 20px;
}

.part-top .artplayer {
    width: 500px;
    height: 300px;
    background: #fff;
}

.part-bottom {
    position: relative;
    height: 30%;
}